<h2>Piano: <%= @piano.address %></h2>

<p>
<%= link_to "Edit", edit_piano_url(@piano)%>
</p>

<p>
<%= link_to "Delete", piano_path(@piano),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
</p>

<p>
<%= link_to "Back", pianos_path %>
</p>
