<div class="show_map">
  <div
    id="map"
    style="
    width: 100%;
    height: 70vh;
    "
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>


<div class="show_content">
  <h2><%= @piano.address %></h2>

  <p>
  <%= link_to "Back", pianos_path %>
  </p>

</div>


